@font-face {
	font-family: 'ecoicon';
	src:url('../fonts/ecoicons/ecoicon.eot');
	src:url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ecoicons/ecoicon.woff') format('woff'),
		url('../fonts/ecoicons/ecoicon.ttf') format('truetype'),
		url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}



#set-6 {
	/*background: #64bb5d;*/
}


.hi-icon-wrap {
	text-align: center;
	text-decoration: none;
}

.hi-icon {
	display: inline-block;
	text-decoration: none;
	font-size: 0px;
	cursor: pointer;
	margin: 5px 0px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	text-decoration: none;
	position: absolute;
	width: 70%;
	height: 70%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	speak: none;
	font-size: 45px;
	line-height: 50px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}


.hi-icon-cog:before {
	content: "\e003";
	text-decoration: none;
}





@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}


/* Effect 6 */
.hi-icon-effect-6 .hi-icon {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	text-decoration: none;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-6 .hi-icon:hover {
	background: rgba(170,170,170,170);
	text-decoration: none;
	color: #64bb5d;
}

.hi-icon-effect-6 .hi-icon:hover:before {
	-webkit-animation: spinAround 2s linear infinite;
	text-decoration: none;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}
